@-webkit-keyframes container {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes container {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes gallery__content--left {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes gallery__content--left {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes gallery__content--right {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes gallery__content--right {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes slideshow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideshow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #21221f;
}

::-webkit-scrollbar-thumb {
  background: #558564;
}

.remove-scrollbar::-webkit-scrollbar {
  width: 0px;
}

body {
  background-color: #21221f;
  color: #d5e5dd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Teko', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h1,
h2 {
  font-size: 10em;
}

h3,
h4 {
  font-size: 6em;
}

h5,
h6 {
  font-size: 4em;
}

p {
  letter-spacing: 0.05em;
}

::-moz-selection {
  color: #21221f;
  background: #d5e5dd;
}

::selection {
  color: #21221f;
  background: #d5e5dd;
}

.title__accent {
  color: #558564;
  font-family: 'Teko', sans-serif;
  letter-spacing: 0.1em;
}

.loading {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #d5e5dd;
  opacity: 1;
  z-index: 1000;
}

.loading__content {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loading__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loading__title-main, .loading__title-sub {
  position: relative;
  top: 0px;
  font-size: 6em;
  color: #21221f;
  font-family: 'Teko', sans-serif;
}

.nav {
  width: 100%;
  height: 8vh;
  position: fixed;
  top: -100px;
  -webkit-transition: 0.3s linear top, 0.5s linear background, 0.5s linear box-shadow;
  transition: 0.3s linear top, 0.5s linear background, 0.5s linear box-shadow;
  z-index: 10;
}

.nav--animation {
  top: 0px;
}

.nav--loose {
  background-color: rgba(33, 34, 31, 0.9);
  -webkit-box-shadow: 1px 6px 39px -12px rgba(115, 115, 115, 0.76);
          box-shadow: 1px 6px 39px -12px rgba(115, 115, 115, 0.76);
}

.nav__container {
  width: 100%;
  max-width: 1240px;
  height: inherit;
  margin: 0 auto;
}

.nav__list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(8vh - 2vh);
  position: relative;
  padding: 5px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.15em;
}

.nav__item:before, .nav__item:after {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  left: 40%;
  background-color: #558564;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.nav__item:before {
  top: 0%;
}

.nav__item:after {
  bottom: 0%;
}

.nav__item:hover:before, .nav__item:hover:after {
  width: 120%;
  left: -10%;
}

.nav__item--logo:before, .nav__item--logo:after {
  height: 0px;
}

.nav__item:hover > .nav__link {
  color: #558564;
}

.nav__link {
  color: #d5e5dd;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.nav__link--active {
  color: #558564;
}

.scrollbar {
  position: fixed;
  width: 2px;
  height: 200px;
  top: 50%;
  right: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
}

.scrollbar__top, .scrollbar__bottom {
  width: 100%;
  position: absolute;
  left: 0;
}

.scrollbar__top {
  height: 0;
  top: 0;
  background-color: #d5e5dd;
}

.scrollbar__bottom {
  height: 100%;
  top: auto;
  bottom: 0;
}

.scrollbar__bottom:before {
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 100%;
  border-radius: 50%;
  background-color: #d5e5dd;
}

.scrollbar__bottom:after {
  content: "";
  height: calc(100% - 20px);
  left: 0;
  position: absolute;
  top: auto;
  width: 100%;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  -webkit-box-shadow: 0px 0px 20px 3px rgba(115, 115, 115, 0.76);
          box-shadow: 0px 0px 20px 3px rgba(115, 115, 115, 0.76);
  margin: 0px 0px 20px 0px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: inherit;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__video {
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0px;
  left: 0px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}

.header__filter {
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 33px 134px 21px rgba(33, 34, 31, 0.86) inset;
          box-shadow: 1px 33px 134px 21px rgba(33, 34, 31, 0.86) inset;
  z-index: -1;
}

.header__content {
  max-width: 1240px;
  margin: 0 auto;
  overflow: hidden;
}

.header__content-container {
  width: 100%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  color: #d5e5dd;
  text-align: center;
}

.header__title {
  line-height: 1em;
}

.header__title--main, .header__title--sub {
  position: relative;
  top: 200px;
}

.header__title--sub {
  line-height: 1em;
  font-family: 'Teko', sans-serif;
  letter-spacing: 0.1em;
}

.header__title--animation {
  top: 0px;
  -webkit-transition: 0.5s ease-in top;
  transition: 0.5s ease-in top;
}

.header__moto {
  display: block;
  font-size: 1.5em;
  font-style: italic;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  position: relative;
  top: 200px;
}

.header__moto--animation {
  top: 0px;
  -webkit-transition: 1s ease-in top;
  transition: 1s ease-in top;
}

.container {
  width: 100%;
  overflow: auto;
}

.container--hidden {
  overflow: hidden;
}

.container__content {
  width: 100%;
  max-width: 1240px;
  overflow: auto;
  margin: 0 auto;
  padding: 200px 0px;
  text-align: center;
}

.container__content--animation {
  -webkit-animation: 3s forwards container;
          animation: 3s forwards container;
}

.container__content--hidden {
  opacity: 0;
}

.container__title {
  position: relative;
}

.container__title:before {
  content: "";
  width: calc(25% - 0.1em);
  height: 5px;
  position: absolute;
  top: -25px;
  left: calc(50% - 0.05em);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #558564;
}

.container__text {
  letter-spacing: 0.1em;
}

.container__button {
  display: inline-block;
  position: relative;
  color: #d5e5dd;
  margin: 50px 0px 0px 0px;
  padding: 20px 50px;
  text-decoration: none;
  text-transform: uppercase;
}

.container__button--less-mr {
  margin: 25px 0px 0px 0px;
}

.container__button:before, .container__button:after {
  content: '';
  display: block;
  height: 100%;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 0;
  z-index: -1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.container__button:before {
  top: 10%;
  border-top: 2px solid #558564;
}

.container__button:after {
  top: 90%;
  border-top: 2px solid #558564;
}

.container__button:hover:before, .container__button:hover:after {
  left: 0%;
  width: 100%;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-box-shadow: 0px 0px 20px 3px rgba(115, 115, 115, 0.76);
          box-shadow: 0px 0px 20px 3px rgba(115, 115, 115, 0.76);
  margin: 20px 0px;
}

.gallery--hidden {
  overflow: hidden;
}

.gallery__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__content--animation-left-no-delay {
  -webkit-animation: 3s forwards gallery__content--left;
          animation: 3s forwards gallery__content--left;
}

.gallery__content--animation-left-2-delay {
  -webkit-animation: 3s 1s forwards gallery__content--left;
          animation: 3s 1s forwards gallery__content--left;
}

.gallery__content--animation-right-1-delay {
  -webkit-animation: 3s 0.5s forwards gallery__content--right;
          animation: 3s 0.5s forwards gallery__content--right;
}

.gallery__content--animation-right-3-delay {
  -webkit-animation: 3s 1.5s forwards gallery__content--right;
          animation: 3s 1.5s forwards gallery__content--right;
}

.gallery__content--hidden {
  opacity: 0;
}

.gallery__img {
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
}

.gallery__filter {
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 1px 33px 134px 21px rgba(33, 34, 31, 0.86) inset;
          box-shadow: 1px 33px 134px 21px rgba(33, 34, 31, 0.86) inset;
  z-index: -2;
}

.gallery__title {
  position: relative;
}

.gallery__title:before {
  content: "";
  width: calc(100% - 0.1em);
  height: 5px;
  position: absolute;
  top: -20px;
  left: calc(50% - 0.05em);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #558564;
}

.gallery__text {
  width: 100%;
  text-align: center;
}

.services {
  width: 100%;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

.services__title {
  margin: 0px 0px 100px 0px;
}

.services__item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.services-item__icon {
  color: #558564;
  font-size: 3em;
  margin: 0px 10px 0px 0px;
}

.services-item__title {
  display: inline-block;
  font-size: 3em;
}

.services__line {
  width: 2px;
  background-color: #82978b;
}

.slideshow {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.slideshow--animation {
  -webkit-animation: 3s forwards slideshow;
          animation: 3s forwards slideshow;
}

.slideshow--hidden {
  opacity: 0;
}

.slideshow__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  padding: 20px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s linear transform;
  transition: 0.5s linear transform;
}

.slideshow__img {
  width: auto;
  height: 80%;
  margin: 0px 50px;
  -webkit-box-shadow: 0px 0px 20px 3px rgba(115, 115, 115, 0.76);
          box-shadow: 0px 0px 20px 3px rgba(115, 115, 115, 0.76);
}

.slideshow__img--zoom-out {
  height: 100%;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 50px 100px;
  border-left: 1px solid #82978b;
  border-right: 1px solid #82978b;
  border-bottom: 1px solid #82978b;
}

.contact__container--half {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: left;
  padding: 20px;
}

.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0px 0px 30px 0px;
}

.contact-item__container {
  display: inline-block;
  margin: 0px 0px 0px 15px;
}

.contact-item__sub-text {
  display: block;
  margin: 0px 0px 10px 0px;
}

.contact-item__link {
  color: #d5e5dd;
  font-style: italic;
  -webkit-transition: 0.5s linear color;
  transition: 0.5s linear color;
}

.contact-item__link:hover {
  color: #82978b;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  border: 1.5px solid #558564;
  border-radius: 1.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #558564;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.contact__link:hover {
  color: #82978b;
  border: 1.5px solid #82978b;
}

.contact__icon {
  font-size: 1.5em;
}

.footer {
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0px 0px 20px 3px rgba(115, 115, 115, 0.76);
          box-shadow: 0px 0px 20px 3px rgba(115, 115, 115, 0.76);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
  padding: 100px 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-container-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 20px;
  margin: 20px 0px 0px 0px;
}

.footer-container__inner {
  width: 30%;
  text-align: left;
}

.footer__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
}

.footer__filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 1px 33px 134px 21px rgba(33, 34, 31, 0.86) inset;
          box-shadow: 1px 33px 134px 21px rgba(33, 34, 31, 0.86) inset;
  z-index: -2;
}

.footer__title {
  font-size: 3.5em;
}

.footer__text {
  font-size: 0.9em;
  letter-spacing: 0.1em;
}

.footer__link {
  display: block;
  color: #d5e5dd;
  padding: 5px 0px;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.footer__link:hover {
  color: #558564;
}

.footer__link--icon {
  background-color: #21221f;
  padding: 7px 10px;
  font-size: 1.5em;
}

.footer__icon--clock {
  float: left;
  margin: 0px 6px 0px 0px;
  color: #d5e5dd;
  font-size: 1.2em;
}

.footer__list {
  list-style: none;
}

.footer__item {
  color: #d5e5dd;
}
/*# sourceMappingURL=main.css.map */