$colors: (
    primary: #558564,
    accent: #82978b,
    light: #d5e5dd,
    dark: #21221f
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

$desktop: 1240px;
$tablet: 768px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: color(dark);
    color: color(light);
}

h1, 
h2, 
h3,
h4, 
h5,
h6 {
    font-family: 'Teko', sans-serif;
    letter-spacing: 0.1em;
}

h1, 
h2 {
    font-size: 10em;
}

h3,
h4 {
    font-size: 7em;
}

h5,
h6 {
    font-size: 4em;
}

.loading {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: color(light);
    opacity: 1;
    z-index: 1000;

    &__content {
        width: 100%;
        height: 100px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 6em;
        color: color(dark);
        font-family: 'Teko', sans-serif;
    }
}

.nav {
    width: 100%;
    height: 8vh;
    position: fixed;
    top: -100px;
    transition: 0.3s linear top, 0.5s linear background, 0.5s linear box-shadow;
    z-index: 10;

    &--animation {
        top: 0px;
    }

    &--loose {
        background-color: rgba(33, 34, 31, 0.9);
        box-shadow: 1px 6px 39px -12px rgba(115,115,115,0.76);
    }

    &__container {
        width: 100%;
        max-width: 1240px;
        height: inherit;
        margin: 0 auto;
    }

    &__list {
        flex: 1;
        display: flex;
        height: inherit;
        align-items: center;
        justify-content: space-around;
    }

    &__item {
        display: flex;
        height: calc(8vh - 2vh);
        position: relative;
        padding: 5px 10px;
        align-items: center;
        letter-spacing: 0.15em;

        &:before {
            content: "";
            width: 0%;
            height: inherit;
            position: absolute;
            top: 0px;
            left: 0px;
            background-color: color(primary);
            border-right: none;
            z-index: -1;
            transition: 0.2s linear width;
        }

        &:hover:before{
            width: 100%;
            border-right: 8px solid color(light);
        }

        &--logo {
            &:before {
                height: 0px;
            }
        }
    }

    &__link {
        color: color(light);
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.header {
    width: 100%;
    height: 100vh;
    position: relative;

    &__container {
        display: flex;
        width: 100%;
        height: inherit;
        position: relative;
        align-items: center;
    }

    &__video {
        width: 100%;
        height: inherit;
        position: absolute;
        top: 0px;
        left: 0px;
        object-fit: cover;
        z-index: -2;
    }

    &__filter {
        width: 100%;
        height: inherit;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.6);
        box-shadow: 1px 33px 134px 21px rgba(33,34,31,0.86) inset;
        z-index: -1;
    }

    &__content {
        max-width: 1240px;
        margin: 0 auto;
        overflow: hidden;

        &-container {
            width: 100%;
            transform: translateY(100%);
            color: color(light);
            text-align: center;

            &--animation {
                transform: translateY(0%);
                transition: 0.5s linear transform;
            }
        }
    }
    
    &__title {
        line-height: 1em;
    }

    &__moto {
        display: block;
        font-size: 1.5em;
        font-style: italic;
        transform: translateY(-15px);
    }
}

.container {
    width: 100%;
    overflow: auto;

    &__content {
        width: 100%;
        max-width: 1240px;
        overflow: auto;
        margin: 0 auto;
        padding: 200px 0px;
        text-align: center;
    }

    &__title {
        position: relative;

        &:before {
            content: "";
            width: calc(25% - 0.1em);
            height: 5px;
            position: absolute;
            top: -25px;
            left: calc(50% - 0.05em);
            transform: translateX(-50%);
            background-color: color(primary);
        }
    }

    &__text {
        letter-spacing: 0.1em;   
    }

    &__button {
        display: inline-block;
        position: relative;
        color: color(light);
        margin: 50px 0px 0px 0px;
        padding: 20px 50px;
        text-decoration: none;
        text-transform: uppercase;

        &--less-mr {
            margin: 25px 0px 0px 0px;
        }

        &:before,
        &:after {
            content: '';
            display: block;
            height: 100%;
            width: 80%;
            position: absolute;
            left: 10%;
            top: 0;
            z-index: -1;
            transition: 0.3s ease; 
        }

        &:before {
            top: 10%;
            border-top: 2px solid color(primary);
        }

        &:after {
            top: 90%;
            border-top: 2px solid color(primary);
        }
        
        &:hover:before,
        &:hover:after {
            left: 0%;
            width: 100%;
        }
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex: 0 0 50%;

    &__item {
        display: flex;
        position: relative;
        flex-basis: 50%;
        height: 500px;
        align-items: center;
        justify-content: center;
    }

    &__content {
        display: flex;
        width: 100%;
        max-width: 80%;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__img {
        width: 100%;
        height: inherit;
        object-fit: cover;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -2;
    }

    &__filter {
        width: 100%;
        height: inherit;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.7);
        box-shadow: 1px 33px 134px 21px rgba(33,34,31,0.86) inset;
        z-index: -2;
    }

    &__title {
        position: relative;

        &:before {
            content: "";
            width: calc(100% - 0.1em);
            height: 5px;
            position: absolute;
            top: -20px;
            left: calc(50% - 0.05em);
            transform: translateX(-50%);
            background-color: color(primary);
        }
    }

    &__text {
        width: 100%;
        text-align: center;
    }
}