$c-primary: #fff;
$c-secondary: #141518;
$c-accent: #9a64ce;

$ff-primary: "MuseoModerno", display;
$ff-secondary: "Work Sans", sans-serif;
$ff-tertiary: 'Lobster', cursive;

$desktop: 1240px;
$tablet: 768px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: $c-secondary;
}

.logo {
    width: 100%;
    height: 100%;

    &__container {
        margin: 0 auto;
        padding: 1.5rem .5rem;
        width: $desktop;
    }

    &__link {
        display: block;
        height: auto;
        width: 111px;
    }
}

.intro {
    display: grid;
    width: $desktop;
    height: 680px;
    margin: 0 auto;
    grid-template-columns: .2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1.2fr 2fr 1fr 1fr 1fr;

    &__image {
        height: 100%;
        grid-area: 1 / 1 / 9 / 3;
    }

    &__title {
        color: $c-primary;
        font-family: $ff-primary;
        font-size: 16rem;
        grid-area: 2 / 1 / 6 / 6;
        text-align: right;

        &-sub {
            font-size: 11.225rem;
            font-family: $ff-tertiary;
            font-weight: 400;
            color: $c-accent;
            grid-area: 5 / 4 / 7 / 6;
        }
    }

    &__label {
        height: 75px;
        grid-area: 4 / 1 / 5 / 3;
        align-self: end;
    }

    &__text {
        width: 80%;
        position: relative;
        font-family: $ff-secondary;
        color: $c-primary;
        line-height: 1.5rem;
        grid-area: 8 / 4 / 9 / 6;

        &:after {
            content: "";
            display: block;
            width: 45px;
            height: 45px;
            position: absolute;
            bottom: 0.5rem;
            right: -5rem;
            background-image: url("https://assets.zyrosite.com/adelinaposca/star-YNqoo45262c07xWO.svg");
            background-size: 45px;
            background-repeat: no-repeat;
        }
    }
}