.gallery__image-container:first-of-type:after, .gallery__image-container:nth-of-type(3):after, .gallery__image-container:nth-of-type(4):after, .gallery__image-container:nth-of-type(5):after, .gallery__image-container:nth-of-type(6):before, .intro__text:after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("https://assets.zyrosite.com/adelinaposca/star-YNqoo45262c07xWO.svg");
  background-repeat: no-repeat;
}

.gallery__image-container:first-of-type:after, .gallery__image-container:nth-of-type(3):after, .gallery__image-container:nth-of-type(4):after, .gallery__image-container:nth-of-type(5):after, .gallery__image-container:nth-of-type(6):before {
  display: none;
}

@media (min-width: 1240px) {
  .gallery__image-container:first-of-type:after, .gallery__image-container:nth-of-type(3):after, .gallery__image-container:nth-of-type(4):after, .gallery__image-container:nth-of-type(5):after, .gallery__image-container:nth-of-type(6):before {
    display: block;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #141518;
}

.highlight {
  color: #9a64ce;
}

.highlight-black {
  color: #141518;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #141518;
  z-index: 10;
}

.main {
  margin: 84px 0 0;
}

.logo {
  width: 100%;
  height: 100%;
}

.logo__container {
  margin: 0 auto;
  padding: 1.5rem .5rem;
  max-width: 1240px;
  width: 100%;
}

.logo__link {
  display: block;
  height: auto;
  width: 111px;
}

.intro {
  max-width: 1240px;
  width: 100%;
  position: relative;
  text-align: center;
  margin: 0 0 20%;
}

@media (min-width: 1240px) {
  .intro {
    display: -ms-grid;
    display: grid;
    height: 680px;
    -ms-grid-columns: .2fr 1fr 1fr 1fr 1fr;
        grid-template-columns: .2fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1.2fr 2fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1.2fr 2fr 1fr 1fr 1fr;
    margin: 0 auto;
  }
}

.intro__image {
  display: block;
  width: 80vw;
  margin: 0 auto;
}

@media (min-width: 1240px) {
  .intro__image {
    width: auto;
    height: 100%;
    -ms-grid-row: 1;
    -ms-grid-row-span: 8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 9 / 3;
  }
}

.intro__title {
  display: inline-block;
  color: #fff;
  position: relative;
  font-family: "MuseoModerno", display;
  font-size: 4rem;
  text-align: center;
  line-height: 1.225;
}

.intro__title:after {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  position: absolute;
  top: 0%;
  right: -10%;
  background-image: url("https://assets.zyrosite.com/adelinaposca/illustrator-A85llvKEW3i1n9kZ.svg");
  background-size: 90px;
  background-repeat: no-repeat;
}

@media (min-width: 1240px) {
  .intro__title {
    font-size: 16rem;
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: 2 / 1 / 6 / 6;
    text-align: right;
    line-height: initial;
  }
  .intro__title:after {
    display: none;
  }
}

.intro__title-sub {
  font-size: 4.5rem;
  font-family: "Lobster", cursive;
  font-weight: 400;
  color: #9a64ce;
  text-align: center;
  line-height: 1.225;
  z-index: 2;
}

@media (min-width: 1240px) {
  .intro__title-sub {
    font-size: 11.225rem;
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-area: 5 / 4 / 7 / 6;
    line-height: initial;
  }
}

.intro__label {
  display: none;
  z-index: 2;
}

@media (min-width: 1240px) {
  .intro__label {
    display: block;
    height: 75px;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 4 / 1 / 5 / 3;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

.intro__text {
  width: 90%;
  position: relative;
  font-family: "Work Sans", sans-serif;
  color: #fff;
  line-height: 1.5;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: 8 / 4 / 9 / 6;
  text-align: center;
  margin: 3rem auto 0;
}

@media (min-width: 1240px) {
  .intro__text {
    width: 80%;
    text-align: initial;
    margin: initial;
  }
}

.intro__text:after {
  width: 60px;
  height: 60px;
  bottom: calc(-3rem - 60px);
  right: 50%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  background-size: 60px;
}

@media (min-width: 1240px) {
  .intro__text:after {
    bottom: 10%;
    right: -17%;
    -webkit-transform: initial;
            transform: initial;
  }
}

.social {
  background-color: #fff;
  margin: 10rem 0 5rem 0;
}

.social__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 1.725rem 0;
}

@media (min-width: 768px) {
  .social__container {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    padding: 1.725rem .5rem;
  }
}

.social__text {
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 768px) {
  .social__text {
    text-align: initial;
  }
}

.social__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.725rem;
  margin: 2rem 0;
}

@media (min-width: 768px) {
  .social__icons {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0 0 0 1.725rem;
  }
}

.social__link {
  color: #141518;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.social__link:hover {
  color: #424650;
}

.gallery {
  margin: 2.5rem 0;
}

@media (min-width: 1240px) {
  .gallery {
    margin: 10rem 0 2.5rem 0;
  }
}

.gallery__container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.gallery__title {
  color: #fff;
  font-family: "MuseoModerno", display;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  position: relative;
  padding: 0 0 7rem;
}

@media (min-width: 768px) {
  .gallery__title {
    font-size: 4.5rem;
  }
}

.gallery__title:after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("https://assets.zyrosite.com/adelinaposca/wow-AVLBBqgLerc4oP1J.svg");
  background-repeat: no-repeat;
  width: 130px;
  height: 62px;
  margin: 2rem auto;
  background-size: 130px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media (min-width: 768px) {
  .gallery__title:after {
    bottom: -19%;
    right: 7%;
    margin: initial;
  }
}

.gallery__grid {
  padding: 0 1rem;
}

@media (min-width: 1240px) {
  .gallery__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: .1fr 1fr 1fr .1fr 1fr 1fr .3fr 1fr 1.5fr 1fr .125fr .1fr;
        grid-template-rows: .1fr 1fr 1fr .1fr 1fr 1fr .3fr 1fr 1.5fr 1fr .125fr .1fr;
    margin: 6rem 0;
    padding: 0;
  }
}

.gallery__image {
  width: 100%;
  height: auto;
}

.gallery__image--star {
  width: 60px;
  -ms-grid-row: 12;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: 12 / 1 / 12 / 8;
}

.gallery__image-container {
  position: relative;
  margin: 0 0 5rem;
}

@media (min-width: 1240px) {
  .gallery__image-container {
    margin: 0;
  }
}

.gallery__image-container:first-of-type {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: 1 / 1 / 4 / 8;
}

.gallery__image-container:first-of-type:after {
  width: 80px;
  height: 80px;
  top: 5%;
  right: 0%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  background-size: 80px;
}

.gallery__image-container:nth-of-type(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: 2 / 9 / 4 / 13;
}

.gallery__image-container:nth-of-type(3) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-area: 5 / 7 / 8 / 13;
}

.gallery__image-container:nth-of-type(3):after {
  width: 80px;
  height: 80px;
  top: 0;
  right: 12%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-size: 80px;
}

.gallery__image-container:nth-of-type(4) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 6 / 1 / 8 / 6;
}

.gallery__image-container:nth-of-type(4):after {
  width: 80px;
  height: 80px;
  top: 5%;
  right: 0%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  background-size: 80px;
}

.gallery__image-container:nth-of-type(5) {
  -ms-grid-row: 8;
  -ms-grid-row-span: 2;
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-area: 8 / 7 / 10 / 13;
}

.gallery__image-container:nth-of-type(5):after {
  width: 35px;
  height: 35px;
  top: 0%;
  right: 4%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-size: 35px;
}

@media (min-width: 1240px) {
  .gallery__image-container:nth-of-type(5) .gallery__image-title,
  .gallery__image-container:nth-of-type(5) .gallery__image-subtitle {
    padding: 0 0 0 8rem;
  }
}

.gallery__image-container:nth-of-type(6) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: 9 / 1 / 11 / 8;
}

.gallery__image-container:nth-of-type(6):before {
  width: 80px;
  height: 80px;
  top: 0%;
  right: 8.7%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-size: 80px;
}

.gallery__image-container:nth-of-type(6):after {
  content: "";
  display: none;
  position: absolute;
  background-image: url("https://assets.zyrosite.com/adelinaposca/tellme-A85ljkXpjZcWB9LJ.svg");
  background-repeat: no-repeat;
  width: 180px;
  height: 105px;
  bottom: 31%;
  right: 0%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  background-size: 180px;
}

@media (min-width: 1240px) {
  .gallery__image-container:nth-of-type(6):after {
    display: block;
  }
}

.gallery__image-container:nth-of-type(7) {
  -ms-grid-row: 10;
  -ms-grid-row-span: 2;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: 10 / 9 / 12 / 13;
}

.gallery__image-title {
  color: #fff;
  font-family: "MuseoModerno", display;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: .725rem 0 0;
}

@media (min-width: 768px) {
  .gallery__image-title {
    font-size: 2rem;
  }
}

.gallery__image-subtitle {
  color: #fff;
  font-family: "Work Sans", sans-serif;
}

.about {
  width: 100%;
  background-color: #9a64ce;
  margin: 2rem 0;
  padding: 6rem 0;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-me {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
}

.about-me__title {
  color: #fff;
  font-size: 4rem;
  font-family: "MuseoModerno", display;
  text-transform: uppercase;
}

.about-me__desc {
  font-family: "Work Sans", sans-serif;
}
/*# sourceMappingURL=main.css.map */