$c-primary: #fff;
$c-secondary: #141518;
$c-accent: #9a64ce;

$ff-primary: "MuseoModerno", display;
$ff-secondary: "Work Sans", sans-serif;
$ff-tertiary: 'Lobster', cursive;

$desktop: 1240px;
$tablet: 768px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: $c-secondary;
}

.highlight {
    color: $c-accent;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: $c-secondary;
    z-index: 10;
}

.main {
    margin: 84px 0 0;
}

.logo {
    width: 100%;
    height: 100%;

    &__container {
        margin: 0 auto;
        padding: 1.5rem .5rem;
        max-width: $desktop;
        width: 100%;
    }

    &__link {
        display: block;
        height: auto;
        width: 111px;
    }
}

.intro {
    max-width: $desktop;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 0 0 20%;

    @include desktop() {
        display: grid;
        height: 680px;
        grid-template-columns: .2fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1.2fr 2fr 1fr 1fr 1fr;
        margin: 0 auto;
    }

    &__image {
        display: block;
        width: 80vw;
        margin: 0 auto;
        
        @include desktop() {
            width: auto;
            height: 100%;
            grid-area: 1 / 1 / 9 / 3;
        }
    }

    &__title {
        display: inline-block;
        color: $c-primary;
        position: relative;
        font-family: $ff-primary;
        font-size: 4rem;
        text-align: center;
        line-height: 5rem;

        &:after {
            content: "";
            display: block;
            width: 90px;
            height: 90px;
            position: absolute;
            top: 0%;
            right: -10%;
            background-image: url("https://assets.zyrosite.com/adelinaposca/illustrator-A85llvKEW3i1n9kZ.svg");
            background-size: 90px;
            background-repeat: no-repeat;
        }

        @include desktop() {
            font-size: 16rem;
            grid-area: 2 / 1 / 6 / 6;
            text-align: right;
            line-height: initial;

            &:after {
                display: none;
            }
        }

        &-sub {
            font-size: 4.5rem;
            font-family: $ff-tertiary;
            font-weight: 400;
            color: $c-accent;
            text-align: center;
            line-height: 5rem;
            z-index: 2;

            @include desktop() {
                font-size: 11.225rem;
                grid-area: 5 / 4 / 7 / 6;
                line-height: initial;
            }
        }
    }

    &__label {
        display: none;
        z-index: 2;

        @include desktop() {
            display: block;
            height: 75px;
            grid-area: 4 / 1 / 5 / 3;
            align-self: end;
        }
    }

    &__text {
        width: 90%;
        position: relative;
        font-family: $ff-secondary;
        color: $c-primary;
        line-height: 1.5rem;
        grid-area: 8 / 4 / 9 / 6;
        text-align: center;
        margin: 3rem auto 0;

        @include desktop() {
            width: 80%;
            text-align: initial;
            margin: initial;
        }

        &:after {
            content: "";
            display: block;
            width: 60px;
            height: 60px;
            position: absolute;
            bottom: calc(-3rem - 60px);
            right: 50%;
            transform: translate(50%, 0);
            background-image: url("https://assets.zyrosite.com/adelinaposca/star-YNqoo45262c07xWO.svg");
            background-size: 60px;
            background-repeat: no-repeat;
        
            @include desktop() {
                bottom: 10%;
                right: -17%;
                transform: initial;
            }
        }
    }
}

.social {
    background-color: $c-primary;
    margin: 10rem 0 5rem 0;

    &__container {
        display: flex;
        justify-content: center;   
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        max-width: $desktop;
        margin: 0 auto;
        padding: 1.725rem 0;

        @include tablet() {
            align-items: initial;
            flex-direction: initial;
            padding: 1.725rem .5rem;
        }
    }

    &__text {
        text-transform: uppercase;
        font-family: $ff-secondary;
        font-size: 1.1rem;
        font-weight: bold;
        text-align: center;

        @include tablet() {
            text-align: initial;
        }
    }

    &__icons {
        display: flex;
        justify-content: center;
        gap: 1.725rem;
        margin: 2rem 0;

        @include tablet() {
            display: inline-flex;
            margin: 0 0 0 1.725rem;
        }
    }

    &__link {
        color: $c-secondary;
        transition: .5s ease-in-out;

        &:hover {
            color: lighten($c-secondary, 20%);
        }
    }
}

.gallery {
    margin: 2.5rem 0;

    &__container {
        width: 100%;
        max-width: $desktop;
        margin: 0 auto;
    }

    &__title {
        color: $c-primary;
        font-family: $ff-primary;
        text-transform: uppercase;
        font-size: 2rem;
        text-align: center;
        position: relative;

        @include tablet() {
            font-size: 4.5rem;
        }

        &:after {
            content: "";
            display: block;
            width: 130px;
            height: 62px;
            margin: 0 auto;
            background-image: url("https://assets.zyrosite.com/adelinaposca/wow-AVLBBqgLerc4oP1J.svg");
            background-size: 130px;
            background-repeat: no-repeat;

            @include tablet() {
                position: absolute;
                bottom: -19%;
                right: 7%;
                margin: initial;
            }
        }
    }
}